/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", arial, sans-serif;
  font-size: 16px;
  color: #003366;
  padding: 0;
  background-color: white;
}

button {
  font-size: 14px;
  border: none;
  padding: 0 0;
}

h3 {
  font-size: 1.6em;
  color: #630b48;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
}

ul {
  list-style: disc outside none;
}

ul,
ol {
  margin-left: 0;
  padding-left: 1em;
  list-style-position: outside;
}

li {
  padding-left: 1em;
}

button:hover {
  font-weight: bold;
  color: #a01c78;
  font-size: 1.05em;
}

.container {
  margin: 5% auto;
}

.spacer {
  height: 50px;
}

.no-btm-margin {
  margin-bottom: 0;
}

/* Nav */
.nav-wrapper {
  position: relative;
  height: 55px;
  background-color: rgb(10, 11, 95);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: white;
}

/*Intro*/
#intro {
  background-image: url("../images/NYCBackgroundImage.jpg");
  background-blend-mode: soft-light;
  background-color: #ccb8c9c0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr.solid {
  border-top: 3px solid #a01c78;
  margin: 0 0;
  padding: 0 0;
}

#name {
  font-size: 1.2em;
  margin: 0 0;
  padding: 0 0;
}

.intro-text {
  margin: 10vh 0 0 0;
}

.intro-text h1 {
  margin: 0 0 10px 0;
  padding: 0 0;
}

#intro-graphics {
  display: flex;
}

#intro-graphics button {
  color: white;
}

#selfie-container {
  max-width: 50%;
  margin: -10% 10%;
}

#scroll-container {
  align-content: flex-end;
  display: none;
}

#intro-button {
  color: #003366;
  border: white;
}

@media (max-width: 550px) {
  .intro-text {
    margin: 10vh 0 5% 0;
    text-align: right;
    width: 95%;
  }
  #selfie-container {
    margin: -10% 0;
  }
}

/* Global Sections */
section {
  margin: 50px 0;
}

section#main {
  margin: 0 0;
}

/* My Work */

.card {
  margin-bottom: 5%;
  z-index: inherit;
  opacity: 1;
  padding-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card a span {
  color: #003366;
  text-decoration: none;
}

.project-img {
  margin-top: 1em;
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  box-sizing: border-box;
}

.project-link,
.caption {
  color: #630b48;
}

.project-link:hover {
  font-weight: bold;
}

.project-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.document-img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.project-tech {
  font-weight: bold;
}

@media (max-width: 550px) {
  .card {
    margin-bottom: 15%;
  }
}
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 0%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .card {
    margin-bottom: 10%;
  }
}

/* About Me */

#selfie {
  height: 300px;
}

#bio {
  text-align: left;
}

#bio-final-p {
  margin-block-end: 0;
}

#youtube-link {
  text-decoration: none;
  color: black;
  pointer-events: none;
}

/* Contact */
.contact-box ul {
  list-style-type: none;
}

.contact-box ul li a {
  text-decoration: none;
  color: #003366;
}

.contact-box ul li a:hover {
  font-weight: 800;
  color: #a01c78;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Mobile */
@media (max-width: 549px) {
  .hide-on-mobile {
    display: none;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .mobile-only {
    display: none;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

.visible-card {
  color: white;
  height: auto;
  width: 100%;
  opacity: 1;
  transform: rotate(0);
  border-radius: 5px;
  left: 0%;
  padding-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
