/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', arial, sans-serif;
  font-size: 16px;
  color: #003366;
  padding: 0;
  background-color: white;    
}

button {
  font-size: 14px;
  border: none;
  padding: 0 0;
}

button:hover {
  font-weight: bold;
  color: #a01c78;
  font-size: 1.05em;
}

.grow {
  font-size: 1 em;
  transition: all .5s;
}

.container {
  margin: 5% auto;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2s;
}



/* Nav */
.nav-wrapper {
  position: relative;
  height: 55px;
  background-color: rgb(0, 185, 124);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: white;
}

/*Intro*/




/* My Work */
.project-row {
  position: relative;
}

.project-card {
  display: flex;
  z-index: 10;
  opacity: 1;
}


.card {
  background-color: white;
  z-index: inherit;
  margin: 0 0;
  opacity: 1;
  padding-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}

.card img {
  width: 98%;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card a {
  text-decoration: none;
  transition: 0.3s;
}

.card a:hover {
  size: 1.1em;
}


@media (min-width: 550px) {
  .column, .columns {
      margin-left: 0%;
  }
}

.under-card {
  background-color: #a01c78;
  color: white;
  will-change: transform;
  position: relative;
  left: -52%;
  border-radius: 5px;
  opacity: 1;
  z-index: 2;
  transition: all 2s;
}

.under-card-right {
  background-color: #003366;
  color: white;
  will-change: transform;
  position: relative;
  left: 52%;
  border-radius: 5px;
  opacity: 1;
  z-index: 2;
  transition: all 2s;  
}



.arrow-right {
  position: relative;
  z-index: 1;
  margin: 30% 0 0 0;
  width: 0px;
  height: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #a01c78;
  text-align: left;
}

.arrow-left {
  position: relative;
  z-index: 1;
  margin: 30% 0 0 0;
  width: 0px;
  height: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #00336de6;
  text-align: left;
}

.arrow-down {
  position: relative;
  z-index: 1;
  margin: 0% 30% 0 0;
  width: 0px;
  height: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #003366;
  text-align: left;
}


.visible-card {
  color: white;
  height: auto;
  width: 100%;
  opacity: 1;
  transform: rotate(0);
  border-radius: 5px;
  left: 0%;
  padding-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.project-row {
  margin-bottom: 5%;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .project-row {
    margin-bottom: 10%;
  }
}

.pull-me {
  position: relative;
  z-index: 999;
  margin: 10% 0 0 0;
  border: none;
  margin-left: -4.66666666667%;
}

@media (max-width: 750px) {
  .pull-me {
    text-align: right;
    margin: 0 0;
    
  }
}

@media (max-width: 550px) {
  .project-row {
    margin-bottom:5%;
  }
}

/* About Me */

#selfie {
  height: 300px;
}

/* Contact */
.contact-box ul {
  list-style-type: none;
}

.contact-box ul li a {
  text-decoration: none;
  color: #003366;
}

.contact-box ul li a:hover {
  text-decoration: underline;
  color: #a01c78;
}

/* events */
.feature-list {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.invisible {
  display: none;
}

.align-right {
  text-align: right;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Mobile */
@media (max-width: 549px) {  
  .hide-mobile {
    visibility: hidden;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .mobile-only {
    display: none;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
